#userline h1{
    text-align: center;
    font-family: alegreya;
    font-weight: bold;
    color: black;
}
#userline{
    width: 75%;
    text-align: center;
    margin: auto;
}
#userimage img{
    width: 100%;
    height: 500px;
    box-shadow:10px 10px 20px;
}
#moneyraised{
    width: 30%;
    text-align: center;
    margin-left: 60px;
    background-color: rgb(233, 233, 233);
    box-shadow:0 5px 10px 2px;
}
#moneyraised img{
    box-shadow:10px 10px 20px;
}
#receiverdetails{
    border: 2px solid black;
    margin-left: 10px;

    text-align: center;
    box-shadow:10px 10px 20px;
    width: 75%;
    text-align: center;
    margin: auto;
}
#organizer{
    font-size: 20pt;
    font-weight: bolder;
    font-family: Arial;
}
#details{
    font-size: 16pt;
    font-family: Arial;
}

