#markettitle{
    text-align: center;
    
    padding-bottom: 40px;
}
#markettitle h1 {
    font-size: 55pt;
    font-family: league spartan;
    background-color: rgb(255 255 255);
    color: #085a91;
    text-align: center;
}

#markettitle{
    background-color: rgb(255 255 255);
}
