#markettitle{
    text-align: center;
    
    padding-bottom: 40px;
}
#markettitle h1{
    font-size: 55pt;
    font-family: league spartan;
    background-color: rgb(187, 77, 123, 40%);
    color: rgb(156, 48, 48);
    text-align: center;
}
