#tag2{
    text-align: center;
    width: 51%;

    margin: auto;

    background-color: rgb(255, 255, 255, 80%);
    box-shadow:10px 10px 20px;
    
}

#successpost {
    border-radius: 10px;
    text-align: center;
    border: 3px solid rgb(128, 128, 128);
    width: 50%;
    margin: auto;
    padding: 20px 0 20px 0;
    background-image: linear-gradient(to right top, rgb(10 77 122), rgb(8 90 145), rgb(10 77 122));
}

#posttext{
    width: 92%;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    font-size: 16pt;
    padding: 20px;
    height: 200px;
}

#post_button{
    border: 2px solid white;
    color: white;
    background-color: rgb(8, 90, 145);
    font-size: 14pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    padding: 6px;
}

#post_bar{
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
    flex-wrap: wrap;

}
#post{
    border-radius: 10px;
    padding: 20px;
    font-size: 14pt;
    display: flex;
    margin-bottom: 20px;
    background-color: rgb(247, 247, 247);
}
#posting{
    word-break: break-all;
    
}

#Username{
    font-weight: bold;
    color: #888;
}
#like{
    margin-right: 15px;
}